<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 사용 기능 및 권한 -->
    <uses-feature android:name="android.hardware.telephony" android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test250101"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- Activity 목록 -->
        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".TestActivity17" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TestActivity16" android:exported="false" />
        <activity android:name=".TestActivity15" android:exported="false" />
        <activity android:name=".TestActivity14" android:exported="false" />
        <activity android:name=".TestActivity13" android:exported="false" />
        <activity android:name=".TestActivity12" android:exported="false" />
        <activity android:name=".TestActivity11" android:exported="false" />
        <activity android:name=".TestActivity10" android:exported="false" />
        <activity android:name=".TestActivity9" android:exported="false" />
        <activity android:name=".TestActivity8" android:exported="false" />
        <activity android:name=".TestActivity7" android:exported="false" />
        <activity android:name=".TestActivity6" android:exported="false" />
        <activity android:name=".TestActivity5" android:exported="true" android:theme="@style/Theme.Test250102" />
        <activity android:name=".TestActivity4" android:exported="false" />
        <activity android:name=".TestActivity3" android:exported="false" />
        <activity android:name=".TestActivity2" android:exported="false" android:theme="@style/Base.Theme.Test250101" />
        <activity android:name=".TestActivity" android:exported="false" android:theme="@style/Base.Theme.Test250101.Actionbar" />

        <!-- Service -->
        <service android:name=".MyService" android:enabled="true" android:exported="true" />

        <!-- ContentProvider -->
        <provider android:name=".MyContentProvider"
            android:authorities="com.example.test250101"
            android:enabled="true"
            android:exported="true" />

        <!-- BroadcastReceiver -->
        <receiver android:name=".common.MyReceiver2"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
